<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/search.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <title>AllergyChef | Search Products</title>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="navbar-inner">
            <div class="nav-left">
                <img src="static/img/logo.png" alt="Logo" class="nav-logo" />
                <a href="/" style="text-decoration: none;"><span class="brand">AllergyChef</span></a>
            </div>
            <ul class="nav-center">
                <li><a href="/search">Search Products ▾</a></li>
                <li><a href="/meal-planner">Meal Planner ▾</a></li>
                <li><a href="/shopping-list">Shopping List</a></li>
            </ul>
            <div class="nav-right">
                <button class="sign-btn">Sign in</button>
                <button class="demo-btn">About Us</button>
            </div>
        </div>
    </nav>

    <div class="welcome-title typewriter-effect">
        <div class="blinking-border"></div>
        <h1><span style="color: aliceblue;">Search</span><br>Products</h1>
    </div>
</header>

<main>
    <div class="search-area">
        <form id="search-form">
            <input type="text" id="search-box" placeholder="Search for foods..." />
        </form> 
    </div>

    <div class="result-area" id="search-results" style="display:none;">
        <div data-aos="fade-down"></div>
        <p><b>Name:</b> <span id="result-name"></span></p>
        <p><b>Brand:</b> <span id="result-brand"></span></p>

        <p style="font-family: Karla, sans-serif; color: rgb(80, 107, 131);"><b>Your Added Allergens:</b> </p>
        <ul id="result-allergens"></ul>

        <h3>Add Your Own Allergies:</h3>
        <input type="text" id="allergy-search" placeholder="Select an allergy ..." />

        <div class="add-to-grocery">
            <button id="shopping-list-btn" class="hidden">Add to shopping list</button>
            <span id="shopping-list-message" class="hidden"></span>
        </div>

        <div id="accordion">
            <p><b>Ingredients:</b></p>
            <ul id="result-ingredients"></ul>
        </div>
    </div>

    <div class="find-alternatives"></div>
</main>

<script src="{{ url_for('static',filename='javascript/search.js') }}"></script>
</body>
</html>
